.App {
  text-align: center;
}


#child{
  box-sizing: border-box;
  width: 2000px;
  padding: 50px 50px;
  margin: 50px 50px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



